<template name="cardsetNavigationEditLicense">
    {{#unless isShuffledCardset this._id}}
        {{#if isCardsetOwner _id}}
            {{#unless gotTranscriptBonusAndIsNotShuffled _id}}
                <div class="hidden-xs btn-group">
                    <button id="selectLicense" class="btn btn-sm btn-raised selectLicenseBtn"
                            data-toggle="modal"
                            data-target="#selectLicenseModal" {{disableIfOffline}}>
                        <span class="flex-content"><i class="fa fa-cc"></i>&nbsp;{{_ "sidebar-nav.license"}}</span>
                    </button>
                </div>
            {{/unless}}
        {{/if}}
    {{/unless}}
</template>
