<template name="impressumAGBHeadingDE">
    <h1>Allgemeine Geschäftsbedingungen</h1>
</template>

<template name="impressumAGBContentDE">
    <h2>§1 Allgemeine Nutzungsbestimmungen</h2>
    <p>
    <ol>
        <li>Die Nutzung von 🍅cards wird durch eine rechtliche Vereinbarung zwischen der Benutzerin bzw.
            dem
            Benutzer
            (im Folgenden der besseren Lesbarkeit wegen verkürzt &raquo;Benutzer&laquo; genannt) und
            🍅cards geregelt. Die Webapp 🍅cards ist eine kostenlose Dienstleistung der
            TransMIT-Gesellschaft für Technologietransfer mbH, Projektbereich für mobile Anwendungen mit der
            Anschrift: Kerkrader Straße 3, 35394 Gießen, Deutschland.
        </li>
        <li>Alle Studierende der Technischen Hochschule Mittelhessen, THM, dürfen 🍅cards für ihre
            Zwecke verwenden, solange dabei nicht gegen deutsches oder EU-Recht verstoßen wird.
        </li>
        <li>🍅cards ist ein kostenloser Webservice (Software as a Service). Die Software ist <a
                href="https://github.com/thm-projects/arsnova-flashcards" target="_blank">Open Source</a>
            und steht unter der <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU
                General Public License Version 3</a>.
        </li>
        <li>Um 🍅cards nutzen zu können, muss die Vertragsbedingung angenommen werden. Sollte der Benutzer
            die Vertragsbedingung nicht annehmen, wird dieser Dienst nicht freigeschaltet.
        </li>
        <li>Der Vertrag wird vom Benutzer angenommen, wenn dieser bei der ersten Anmeldung am System die
            Allgemeinen Geschäftsbedingungen mit der Schaltfläche &raquo;Akzeptieren&laquo; einwilligt.
        </li>
        <li>Mit der Annahme der Vertragsbindung wird akzeptiert, dass 🍅cards bei wichtigen Änderungen,
            Ankündigungen oder beim Starten einer Lernphase E-Mails oder im System integrierte Nachrichten
            an den Benutzer sendet.
        </li>
    </ol>
    </p>
    <h2>§2 Regeln bei der Nutzung von 🍅cards</h2>
    <p>
    <ol>
        <li>
            Bei der Benutzung von 🍅cards versichert der Benutzer, dass
            <ul>
                <li>alle von ihm angegebenen Informationen im System wahrheitsgetreu und richtig sind,</li>
                <li>gegen keine geltenden Gesetze verstoßen wird,</li>
                <li>er für alles, was unter dem Nutzernamen geschieht, verantwortlich ist.</li>
            </ul>
        </li>
        <li>Bei der Benutzung sind keine rassistischen, hetzerischen oder beleidigenden Äußerungen in
            jeglicher hier möglichen Form erlaubt.
        </li>
        <li>🍅cards behält sich das Recht vor, Benutzer, die sich nicht an die Regeln halten, zu sperren.
        </li>
    </ol>
    </p>
    <h2>§3 Verlässlichkeit und Verfügbarkeit von 🍅cards</h2>
    <p>
    <ol>
        <li>Eine ununterbrochene Verfügbarkeit von 🍅cards ist technisch nicht möglich. Wartungs- und
            Update-Maßnahmen des Dienstes sowie unvorhersehbare Störungen, wie z. B. Ausfälle beim
            Internet-,
            Server- oder Stromprovider, können zu vorübergehenden Behinderungen der Erreichbarkeit des
            Dienstes führen. 🍅cards ist bemüht, den Online-Dienst zuverlässig und störungsfrei wie
            möglich
            zu betreiben, soweit dies technisch möglich ist.
        </li>
        <li>Jeder Benutzer ist bei einem Ausfall des Dienstes für seine eigenen Inhalte selbst
            verantwortlich. Hierfür sollte regelmäßig die Export-Funktion der jeweiligen Kartei
            genutzt werden, um eigene Inhalte sicherzustellen, wenn 🍅cards ausfallen sollte.
        </li>
    </ol>
    </p>
    <h2>§4 Passwörter und Sicherheit des Benutzerkontos</h2>
    <p>
    <ol>
        <li>Es werden keine Passwörter abgefragt oder gespeichert.
            Die Authentifizierung erfolgt über einen Anmeldedienst (THM-CAS, Facebook, Twitter oder Google
            +).
            Nach dort wird weitergeleitet, nur dort wird ein Passwort gefordert.
        </li>
        <li>Sollte ein Benutzer darauf aufmerksam werden, dass das Benutzerkonto unbefugt durch einen
            Dritten benutzt wird, ist er dazu verpflichtet, 🍅cards umgehend zu benachrichtigen.
        </li>
    </ol>
    </p>
    <h2>§5 Datenschutz</h2>
    <p>
    <ol>
        <li>🍅cards achtet auf die Privatsphäre der Benutzer. Sämtliche datenschutzrechtliche Bestimmungen
            werden eingehalten. Persönliche Daten wie E-Mail-Adresse oder Anmeldedaten werden nicht an
            Dritte weitergegeben, außer in Fällen einer gesetzlichen Verpflichtung.
        </li>
        <li>Gespeicherte Lernstatistiken und Batches eines Benutzers bleiben ebenfalls geschützt, solange
            der Benutzer die Möglichkeit zur Einsicht nicht explizit anderen Benutzern von 🍅cards erlaubt
            hat (Öffentlichmachung des Benutzerprofils).
        </li>
        <li>Bei der Löschung eines Benutzerkontos von 🍅cards werden alle persönlichen Daten und privaten
            Karteien gelöscht. Das Benutzerkonto kann unter den Einstellungen des Profils gelöscht
            werden.
        </li>
    </ol>
    </p>
    <h2>§6 Inhalte auf 🍅cards</h2>
    <p>
    <ol>
        <li>Jeder Benutzer von 🍅cards ist für alle Inhalte, die er eingibt und speichert (z. B. Texte,
            Bilder), selbst verantwortlich.
        </li>
        <li>Jeder Benutzer bestätigt gegenüber 🍅cards, dass er über sämtliche Rechte, Vollmachten und
            Befugnisse verfügt, um seine Inhalte zu veröffentlichen.
        </li>
        <li>Jeder Benutzer erkennt an, dass er allein für alle Inhalte, die er während der Nutzung von
            🍅cards erstellt, überträgt oder darstellt und die Auswirkungen seiner Handlungen
            (einschließlich vorhandener Verluste oder Schäden, die 🍅cards oder Dritten hierbei entstehen
            können), verantwortlich ist.
        </li>
        <li>Sollte ein Benutzer Inhalte erstellen, die gegen geltendes Recht verstoßen, behält sich
            🍅cards
            das Recht vor, diese Inhalte zu löschen.
        </li>
        <li>Lerninhalte, die von Benutzern selbstständig erarbeitetet und öffentlich zur Verfügung gestellt
            wurden, dürfen gemäß der in der Kartei angegebenen <a
                    href="https://creativecommons.org/licenses/"
                    target="_blank">Creative Commons License</a>
            weiterverwendet werden.
        </li>
        <li>Bei nicht veröffentlichten Lerninhalten, die nicht das Urheberrecht Dritter verletzen, liegt das
            Urheberrecht beim Benutzer.
        </li>
        <li>Jedem Benutzer ist bekannt, dass veröffentlichte Lerninhalte von anderen Benutzern von 🍅cards
            weiterverwendet werden können. Da die veröffentlichten Inhalte nach Löschung des Benutzers
            weiterhin bestehen bleiben, erklärt sich jeder Benutzer damit einverstanden, dass die
            veröffentlichten Inhalte weiterhin von anderen Benutzern verwendet werden dürfen und anderen zur
            Verfügung gestellt werden können.
        </li>
    </ol>
    </p>
    <h2>§7 Gewährleistung</h2>
    <p>
    <ol>
        <li>🍅cards übernimmt keine Verantwortung für die von Benutzern bereitgestellten Lerninhalte und
            macht sich diese auch nicht zu eigen.
        </li>
        <li>🍅cards bietet lediglich den technischen Dienst zur Erstellung, Speicherung und des
            Austausches der erstellten Lerninhalte.
        </li>
        <li>Eine ständige Überprüfung aller eingestellter Inhalte auf mögliche Rechtsverletzungen ist nicht
            realisierbar und findet daher grundsätzlich nicht statt.
        </li>
        <li>🍅cards reagiert nach berechtigtem Hinweis auf Rechtsverstöße und behält sich vor, straf- oder
            haftungsrechtliche Inhalte unverzüglich zu löschen.
        </li>
        <li>Die Korrektheit eingestellter Lerninhalte wird von 🍅cards nicht gewährleistet. Alle
            Lerninhalte werden von den Benutzern des Systems erstellt und/oder verändert. Eine Überprüfung
            auf Korrektheit ist seitens 🍅cards hierbei nicht möglich.
        </li>
    </ol>
    </p>
    <h2>§8 Datensicherheit</h2>
    <p>
    <ol>
        <li>Der Betreiber von 🍅cards legt ausschließlich aus betriebstechnischen Gründen Datensicherungen
            an.
            Eine regelmäßige Datensicherung findet nicht statt.
        </li>
        <li>Jeder Benutzer von 🍅cards ist für die Datensicherung selbst verantwortlich.
            Die Plattform bietet dazu drei Funktionen an:
            <ul>
                <li>Karten exportieren bzw. importieren
                </li>
                <li>Kartei exportieren bzw. importieren
                </li>
                <li>Lernstatistik exportieren
                </li>
            </ul>
        </li>
        <li>Für einen eventuellen Datenverlust (Karten, Karteien oder Lernstatistiken) wird keine Haftung
            übernommen.
        </li>
    </ol>
    </p>
    <h2>§9 Änderungen der Vertragsbedingungen</h2>
    <p>
    <ol>
        <li>🍅cards behält sich das Recht vor, Änderungen an diesen Allgemeinen Geschäftsbedingungen
            vorzunehmen.
        </li>
        <li>Die Benutzer von 🍅cards werden über E-Mail oder durch eine Nachricht im System über
            Änderungen
            der Allgemeinen Geschäftsbedingungen informiert. Die Änderungen werden wirksam, wenn der
            Benutzer nicht innerhalb 14 Tage nach Zugang der Information den Änderungen widerspricht. In der
            E-Mail oder Nachricht wird gesondert auf die Widerspruchsmöglichkeit und deren Frist
            hingewiesen.
        </li>
        <li>Im Übrigen gelten die gesetzlichen Gewährleistungsvorschriften.</li>
        <li>🍅cards behält sich das Recht vor, bei Widerspruch der geänderten Geschäftsbedingungen das
            Nutzungsverhältnis zu kündigen und zu beenden. Der Benutzer hat das Recht, das
            Vertragsverhältnis innerhalb von 4 Wochen nach Änderung der Allgemeinen Geschäftsbedingungen bis
            zum Ende des nächsten Monats zu kündigen.
        </li>
    </ol>
    </p>
    <h2>§10 Sonstige Bedingungen</h2>
    <p>
    <ol>
        <li>Für den Lern- und Prüfungserfolg gibt es seitens 🍅cards keine Gewährleistung.</li>
        <li>Verstößt ein Benutzer gegen diese Allgemeinen Geschäftsbedingungen, behält sich 🍅cards das
            Recht vor, von diesem Benutzer eingestellte Inhalte zu löschen. Bei mehrmaligem Verstoß des
            Benutzers, wird das entsprechende Benutzerkonto gesperrt.
        </li>
    </ol>
    </p>
    <p>Stand: 27.01.2019</p>
</template>
